{% load static%}
<!--css includes locally-->
<link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/lib/jquery-ui.css' %}"/>
<link rel="stylesheet" href="{% static 'css/lib/jquery.dataTables.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/lib/tabulator.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/custom/sticky-footer.css' %}"/>
<link rel="stylesheet" href="{% static 'css/custom/custom.css' %}" />

<!--css includes via CDNs-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>-->
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>-->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>-->
<!--<link href="https://unpkg.com/tabulator-tables@4.7.1/dist/css/tabulator.min.css" rel="stylesheet">-->
