{% load static%}
<!--js includes locally-->
<script src="{% static 'js/lib/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/lib/jquery-ui.js' %}"></script>
<script src="{% static 'js/lib/moment.min.js' %}"></script>
<script src="{% static 'js/lib/tabulator.min.js' %}"></script>
<script src="{% static 'js/lib/popper.min.js' %}"></script>

<!--js includes via CDNs-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>-->
<!--<script src="https://unpkg.com/tabulator-tables@4.7.1/dist/js/tabulator.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>-->

