{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
        {% if request.user.is_authenticated%}
            Welcome {{request.user.username}} | {{request.user.job_description}} | in {{request.user.department}} Department
        {% else %}
            Welcome to Numbase Hr-System
        {% endif%}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/' %} active {%endif%}">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            {% if request.user.is_authenticated%}
                <li class="nav-item {% if request.path == '/account/manage/' %} active {%endif%}">
                    <a class="nav-link"  href="{% url 'manage' %}">Profile Management</a>
                </li>
                <li class="nav-item {% if request.path == '/vacationsManipulation/' %} active {%endif%}">
                    <a class="nav-link"  href="{% url 'vacationsManipulation' %}">Vacations</a>
                </li>
                <li class="nav-item {% if request.path == '/attendanceListView/' %} active {%endif%}">
                    <a class="nav-link" href="{% url 'attendanceListView' %}">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
